@page "/resume"
@layout EmptyLayout

@if(ResumeData == null) 
{
    <div>Loading...</div>
} else {

<Website.Components.Print.Print>
    <Website.Components.Print.Page.Page>
        <div style="display: grid; grid-template-columns: 1.65fr 5fr;grid-gap:12px;">
            <div style="background-color:#F9F9F9; padding: 2px">
                <Website.Pages.Resume.Block>
                    <Website.Pages.Resume.TitleName>
                        @ResumeData.Title.Name
                    </Website.Pages.Resume.TitleName>
                    <Website.Pages.Resume.Title>
                        @ResumeData.Title.Profession
                    </Website.Pages.Resume.Title>
                </Website.Pages.Resume.Block>
                <Website.Pages.Resume.Section>
                    <Website.Pages.Resume.SectionTitle>
                        Personal Info
                    </Website.Pages.Resume.SectionTitle>

                    @foreach (var personInfo in ResumeData.PersonalInfo)
                    {
                        <Website.Pages.Resume.Block>
                            <Website.Pages.Resume.Bold>
                                @personInfo.Name
                            </Website.Pages.Resume.Bold>
                            <Website.Pages.Resume.Text>
                                @personInfo.Value
                            </Website.Pages.Resume.Text>
                        </Website.Pages.Resume.Block>
                    }
                   
                </Website.Pages.Resume.Section>

            </div>

            <div>
                <Website.Pages.Resume.Section>
                    <Website.Pages.Resume.SectionTitle>
                        Summary
                    </Website.Pages.Resume.SectionTitle>

                    <Website.Pages.Resume.Block>

                        @ResumeData.Summary
                    </Website.Pages.Resume.Block>
                </Website.Pages.Resume.Section>


                 <Website.Pages.Resume.Section>
                    <Website.Pages.Resume.SectionTitle>
                        Summary
                    </Website.Pages.Resume.SectionTitle>

                     @foreach (var experience in @ResumeData.Experience)
                     {
                        <Website.Pages.Resume.Block>
                            @experience.Date
                            @experience.Location
                            @experience.Role
                            <ul>
                                @foreach (var point in experience.Points)
                                {
                                    <li>@point</li>
                                }
                            </ul>
                        </Website.Pages.Resume.Block>
                     }
                </Website.Pages.Resume.Section>

                <Website.Pages.Resume.Section>
                    <Website.Pages.Resume.SectionTitle>
                        Education
                    </Website.Pages.Resume.SectionTitle>

                     @foreach (var education in @ResumeData.Education)
                     {
                        <Website.Pages.Resume.Block>
                            @education
                        </Website.Pages.Resume.Block>
                     }
                </Website.Pages.Resume.Section>
                
            </div>
        </div>
    </Website.Components.Print.Page.Page>

    <Website.Components.Print.Page.Page>
        <div>
            <Website.Pages.Resume.Title>
                Jonathan McCaffrey
            </Website.Pages.Resume.Title>


        </div>
    </Website.Components.Print.Page.Page>
</Website.Components.Print.Print>
}