@page "/resume"
@layout EmptyLayout

@if (ResumeData == null)
{
    <div>Loading...</div>
}
else
{

    <Website.Components.Print.Print>
        <Website.Components.Print.Page.Page>
            <div style="display: grid; grid-template-columns: 27% 73%;grid-gap:12px;">
                <div style="background-color:#F9F9F9; padding: 2px; word-wrap: break-word;">
                    <Website.Pages.Resume.Block>
                        <Website.Pages.Resume.TitleName>
                            @ResumeData.Title.Name
                        </Website.Pages.Resume.TitleName>
                        <Website.Pages.Resume.Title>
                            @ResumeData.Title.Profession
                        </Website.Pages.Resume.Title>
                    </Website.Pages.Resume.Block>
                    <Website.Pages.Resume.Section>
                        <Website.Pages.Resume.SectionTitle>
                            Personal Info
                        </Website.Pages.Resume.SectionTitle>

                        @foreach (var personInfo in ResumeData.PersonalInfo)
                        {
                            <Website.Pages.Resume.Block>
                                <Website.Pages.Resume.Bold>
                                    @personInfo.Name
                                </Website.Pages.Resume.Bold>
                                <Website.Pages.Resume.Text>
                                    @personInfo.Value
                                </Website.Pages.Resume.Text>
                            </Website.Pages.Resume.Block>
                        }

                    </Website.Pages.Resume.Section>



                    <Website.Pages.Resume.Section>
                      
                      <Website.Pages.Resume.SectionTitle>
                        Skills 
                      </Website.Pages.Resume.SectionTitle>

                        <Website.Pages.Resume.Block>
                        <div style="display:grid; grid-template-colums:1frl">
                      @foreach (var skill in ResumeData.Skills)
                      {
                        <Website.Pages.Resume.Bold>
                          @skill
                        </Website.Pages.Resume.Bold>
                      }
                        </div>
                        </Website.Pages.Resume.Block>
                    </Website.Pages.Resume.Section>
                </div>

                <div>
                    <Website.Pages.Resume.Section>
                        <Website.Pages.Resume.SectionTitle>
                            Summary
                        </Website.Pages.Resume.SectionTitle>

                        <Website.Pages.Resume.Block>

                            @ResumeData.Summary
                        </Website.Pages.Resume.Block>
                    </Website.Pages.Resume.Section>


                    <Website.Pages.Resume.Section>
                        <Website.Pages.Resume.SectionTitle>
                            Summary
                        </Website.Pages.Resume.SectionTitle>

                        @foreach (var experience in @ResumeData.Experience)
                        {
                            <Website.Pages.Resume.Block>
                                <div style="display:grid;grid-template-columns:10% 90%;grid-gap:2px;">

                                    <div>@experience.Date</div>
                                    <div>
                                        <Website.Pages.Resume.Bold>
                                            @experience.Role
                                        </Website.Pages.Resume.Bold>
                                        <Website.Pages.Resume.Text>
                                            @experience.Location
                                        </Website.Pages.Resume.Text>
                                    </div>
                                </div>
                                <ul>
                                    @foreach (var point in experience.Points)
                                    {
                                        <li>

                                            <Website.Pages.Resume.Text>
                                                @point

                                            </Website.Pages.Resume.Text>
                                        </li>
                                    }
                                </ul>
                            </Website.Pages.Resume.Block>
                        }
                    </Website.Pages.Resume.Section>

                    <Website.Pages.Resume.Section>
                        <Website.Pages.Resume.SectionTitle>
                            Education
                        </Website.Pages.Resume.SectionTitle>

                        <Website.Pages.Resume.Block>
                            @foreach (var education in @ResumeData.Education)
                            {
                                <Website.Pages.Resume.Text>
                                    @education
                                </Website.Pages.Resume.Text>
                            }
                        </Website.Pages.Resume.Block>
                    </Website.Pages.Resume.Section>

                </div>
            </div>
        </Website.Components.Print.Page.Page>

        <Website.Components.Print.Page.Page>

            <Website.Pages.Resume.Section>

                <Website.Pages.Resume.SectionTitle>
                    Projects
                </Website.Pages.Resume.SectionTitle>

                <div style="display:grid;grid-template-columns: auto auto; grid-gap:10px;"> 
                @foreach (var project in @ResumeData.Projects)
               {
                 @if(@ResumeData.Tags?.includes("hidden") == false)
                 {
                    <Website.Pages.Resume.Block>
                        <div style="display:grid;grid-template-columns:15% 85%;">
                            <div>
                                @project.Date
                            </div>
                            <div>
                                <Website.Pages.Resume.Text>
                                    @project.Name, @project.Description
                                </Website.Pages.Resume.Text>
                            </div>
                        </div>

                        <Website.Pages.Resume.Text>
                            Roles: @project.Roles
                       </Website.Pages.Resume.Text>
                       <Website.Pages.Resume.Text>
                            Technology: @project.Technology
                       </Website.Pages.Resume.Text>
                    </Website.Pages.Resume.Block>
                 }
                }
            </div>
            </Website.Pages.Resume.Section>
        </Website.Components.Print.Page.Page>
    </Website.Components.Print.Print>
}
