@page "/resumealt"
@layout EmptyLayout

<style>
    ul {
        margin-bottom: 0;
    }
</style>

@if (ResumeData == null)
{
    <div>Loading...</div>
}
else
{
    <Print>
        <Page>
            <div style="width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: 67% auto;
                        grid-template-rows: auto auto auto auto;
                        grid-gap: 10px;">
                <div style="grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 1;
                            grid-row-end: 2;">
                    <ResumeHead ResumeData="@ResumeData"/>
                </div>
                <div style="grid-column-start: 1;
                                            grid-column-end: 2;
                                            grid-row-start: 2;
                                            grid-row-end: 3;">
                    <Summary ResumeData="@ResumeData"/>
                    <WorkExperience ResumeData="@ResumeData"/>
                    <WorkProjects ResumeData="@ResumeData"/>
                </div>
                <div style="grid-column-start: 2;
                            grid-column-end: 3;
                            grid-row-start: 2;
                            grid-row-end: 3;">
                    <PersonalInfo ResumeData="@ResumeData"/>
                    <Education ResumeData="@ResumeData"/>
                    <References ResumeData="@ResumeData"></References>
                    
                </div>
            </div>
        </Page>
    </Print>
}


@code {
    private Data.Resume.Resume ResumeData {get;set;}

    [Inject] private HttpClient Http { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ResumeData = await Http.GetJsonAsync<Data.Resume.Resume>("json/resume/data.json" );
    }
}