@if (_isEmpty)
{
    return;
}
else
{
    <Section>

        <SectionTitle>
            Side Projects
        </SectionTitle>

        <div style="display:grid;grid-template-columns: auto; grid-gap:10px;">
            @foreach (var project in @ResumeData.SideProjects)
            {
                @if (@project.Tags == null || @project.Tags?.Contains("hidden") == false)
                {
                    <Block>
                        <div style="display:grid;grid-template-columns:80% 20%;">
                            <Bold>
                                @project.Roles
                            </Bold>
                            <div>
                                @project.Date
                            </div>
                        </div>

                        <Text>
                            @project.Name, @project.Description
                        </Text>
                        <Text>
                            Technology: @project.Technology
                        </Text>
                    </Block>
                }
            }

        </div>
    </Section>
}

@code {
    [Parameter]
    public Data.Resume.Resume ResumeData { get; set; }

    private bool _isEmpty = true;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        if (ResumeData != null)
        {
            foreach (var project in ResumeData.SideProjects.Where(project => project.Tags == null || project.Tags?.Contains("hidden") == false))
            {
                _isEmpty = false;
                break;
            }
        }
    }
}